extends ../layout/admin

block styles 
    meta(name='csrf-token' content= csrfToken)

block contenido
    div(class= "py-10 lg:px-20") 
        h1.text-4xl.my-10.font-extrabold.text-center Bienes
            span.font-normal Raices
        h2.text-center.text-2xl.font-extrabold= pagina

        a(href="/propiedades/crear" class="rounded py-2 px-10 bg-indigo-600 hover:bg-indigo-700 text-sm text-center text-white uppercase my-5 inline-block w-full sm:w-auto") Publicar Propiedad

        //- pre= JSON.stringify(propiedades, undefined,2)

        if propiedades.length
            div(class="bg-white shadow rounded-lg")
                ul(class="divide-y divide-gray-200")
                    each propiedad in propiedades
                        li 
                            div(class="p-6 w-full flex flex-col sm:flex-row sm:items-center sm:justify-between space-y-8 md:space-y-0 gap-4")
                                div(class="sm:w-1/4 md:w-1/6")
                                    img(src=`/uploads/${propiedad.imagen}` alt=`Imagen propiedad ${propiedad.titulo}` class="w-full block")
                                div(class="sm:w-2/4 md:w-3/6 lg:w-4/6 space-y-3")
                                    a(class="block text-2xl font-extrabold text-indigo-600 truncate" href=`/propiedad/${propiedad.id}`)= propiedad.titulo
                                    p(class="text-sm text-black font-bold")= propiedad.categoria.nombre
                                    p(class="text-sm text-gray-500 font-bold flex items-center")
                                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5")
                                            path(d="M10.75 10.818v2.614A3.13 3.13 0 0011.888 13c.482-.315.612-.648.612-.875 0-.227-.13-.56-.612-.875a3.13 3.13 0 00-1.138-.432zM8.33 8.62c.053.055.115.11.184.164.208.16.46.284.736.363V6.603a2.45 2.45 0 00-.35.13c-.14.065-.27.143-.386.233-.377.292-.514.627-.514.909 0 .184.058.39.202.592.037.051.08.102.128.152z")
                                            path(fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-6a.75.75 0 01.75.75v.316a3.78 3.78 0 011.653.713c.426.33.744.74.925 1.2a.75.75 0 01-1.395.55 1.35 1.35 0 00-.447-.563 2.187 2.187 0 00-.736-.363V9.3c.698.093 1.383.32 1.959.696.787.514 1.29 1.27 1.29 2.13 0 .86-.504 1.616-1.29 2.13-.576.377-1.261.603-1.96.696v.299a.75.75 0 11-1.5 0v-.3c-.697-.092-1.382-.318-1.958-.695-.482-.315-.857-.717-1.078-1.188a.75.75 0 111.359-.636c.08.173.245.376.54.569.313.205.706.353 1.138.432v-2.748a3.782 3.782 0 01-1.653-.713C6.9 9.433 6.5 8.681 6.5 7.875c0-.805.4-1.558 1.097-2.096a3.78 3.78 0 011.653-.713V4.75A.75.75 0 0110 4z" clip-rule="evenodd")
                                        = propiedad.precio.nombre
                                    a(href=`/mensajes/${propiedad.id}` class="text-sm text-gray-600")=`${propiedad.mensajes.length} Mensajes` 

                                div(class="sm:w-1/4 md:w-2/6 lg:w-1/6 flex flex-col 2xl:flex-row gap-2")
                                    button(type="button" data-propiedad-id=`${propiedad.id}` class=`cambiar-estado w-full px-2 py-2 md:py-1 text-xs leading-5 font-semibold rounded cursor-pointer ${propiedad.publicado ? 'bg-green-100 text-green-800' : 'bg-yellow-100 text-yellow-800'}`)= `${propiedad.publicado ? "Publicado" : "No Publicado"}`
                                    a(class=`text-center px-2 py-2 md:py-1 text-xs leading-5 font-semibold rounded cursor-pointer bg-indigo-100 text-indigo-800` href=`/propiedades/editar/${propiedad.id}`) Editar
                                    form(method="POST" action=`/propiedades/eliminar/${propiedad.id}`)
                                        input(type="hidden" name="_csrf" value= csrfToken)
                                        input(type="submit" class=`w-full px-2 py-2 md:py-1 text-xs leading-5 font-semibold rounded cursor-pointer bg-red-100 text-red-800` value="Eliminar") 
                div(class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6")
                    div(class="flex-1 flex justify-between sm:hidden")
                        a(href=`/mis-propiedades?pagina=${paginaActual - 1}` class=`${paginaActual === "1" ? 'pointer-events-none':''} relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-100`) Anterior
                        a(href=`/mis-propiedades?pagina=${paginaActual + 1}` class=`${paginaActual === paginas ? 'pointer-events-none':''} relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-100`) Siguiente

                    div(class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between") 
                        p(class=" text-sm text-gray-700 gap-2") Mostrando 
                            span(class="font-medium") #{offset + 1} a 
                            span(class="font-medium") #{(total < limit + offset ? total : limit + offset)} de 
                            span(class="font-medium") #{total} resultados

                    div(class="hidden sm:block")
                        nav(class="relative z-0 inline-flex rounded-md shadow-md")
                            - var n = 1;
                                while n <= paginas 
                                    a(href=`/mis-propiedades?pagina=${n}` class=`${paginaActual == n ? 'bg-indigo-50 border-indigo-500 text-indigo-600' : 'bg-white border-gray-300 text-gray-500 hover:bg-gray-100'} relative inline-flex items-center px-4 py-2 border text-sm font-medium`) #{n++} 
        else
            p.text-center No hay Propiedades

block scripts 
    script(src="/js/cambiarEstado.js") 